
{% apply inline_css(source('styleTwig.css')) %}
    <div class="centerText">

        <div class="header">
            <h1>Mailer - Web App</h1>
        </div>

        <div class="navbar">
            <a style="visibility: hidden">"navbar"</a>
        </div>

        <br><br>

        <table>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>State</th>
            </tr>
            <tr>
                <td>{{ id }}</td>
                <td>{{ name }}</td>
                <td>{{ state }}</td>
            </tr>
        </table>

        <br><br>

        <div class="inlineLeft">
            <div class="inlineBlock">
                <button class="button" onclick="location.href='{{ urlActivate }}';">Activate/Deactivate</button>
            </div>

            <a style="visibility: hidden">""</a>

            <div class="inlineRight">
                <button class="button" onclick="location.href='{{ urlReject_inactive }}';">Reject Inactive</button>
            </div>
        </div>

    </div>
{% endapply %}