{% extends 'base.html.twig' %}

{% block body %}
    <h3>New User</h3>
    <h4>Id: {{ id }}</h4>
    <h4>Name: {{ name }}</h4>

    <p>Click to Activate the Account</p>
    <p>
        <a href="{{ url }}">{{ url }}</a>
    </p>

    <p>Click to Reject the Account</p>
    <p>
        <a href="{{ url2 }}">{{ url2 }}</a>
    </p>
{% endblock %}