{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}

    <div class="centerText">

        <h1 class="h3 mb-3 font-weight-normal">Register</h1>
        <hr class="black">
        <br>

        <div class="inlineLeft">
            {{ form_start(formRegister) }}

            {{ form_label(formRegister.name) }}
            <hr>
            {{ form_widget(formRegister.name) }}

            <br><br>

            {{ form_label(formRegister.password) }}
            <hr>
            {{ form_widget(formRegister.password) }}

            <br><br>

            <div class="inlineRight ">{{ form_row(formRegister.register) }}</div>
            {{ form_end(formRegister) }}
        </div>

        {% for message in app.flashes('success') %}
            <div class="alert alert-success">
                <br>
                <h3>
                    {{ message }}
                </h3>
            </div>
        {% endfor %}

        {% for message in app.flashes('fail') %}
            <div class="alert alert-fail">
                <br>
                <h3>
                    {{ message }}
                </h3>
            </div>
        {% endfor %}
    </div>

{% endblock %}
