{% extends 'baseTransition.html.twig' %}

{% block body %}

    <div class="centerText">

        <h1>{{ 'Information of'|trans }} {{ id }}</h1>

        <hr class="black">
        <br>

        <table class="Transaction">
            <tr>
                <th class="Transaction">Id</th>
                <th class="Transaction">{{ 'State'|trans }}</th>
            </tr>
            <tr>
                <td>{{ id }}</td>
                <td>{{ state }}</td>
            </tr>
        </table>

    </div>

{% endblock %}