{% extends 'base.html.twig' %}

{% block title %}{{ 'Register'|trans }}{% endblock %}

{% block body %}

    <div class="centerText">

        <h1 class="h3 mb-3 font-weight-normal">{{ 'Register'|trans }}</h1>
        <hr class="black">
        <br>

        <div class="inlineLeft">
            {{ form_start(formRegister) }}

            {{ form_label(formRegister.name) }}
            <hr>
            {{ form_widget(formRegister.name) }}

            <br><br>

            {{ form_label(formRegister.password) }}
            <hr>
            {{ form_widget(formRegister.password) }}

            <br><br>

            <div class="inlineRight ">{{ form_row(formRegister.register) }}</div>
            {{ form_end(formRegister) }}
        </div>
    </div>

{% endblock %}
