{% extends 'baseLogged.html.twig' %}

{% block title %}
    {% if action == 'update' %}
        Update Item
    {% elseif action == 'delete' %}
        Delete Item
    {% endif %}
{% endblock %}

{% block body %}

    <div class="centerText">

        <h1 class="centerText">Choose a Item to {{ action }}</h1>
        <hr class="black">
        <br>

        {% if items|length == 0 %}

            <h3>There are no items for {{ app.user }}, add <a href="{{ path('new-item') }}">some</a></h3>

        {% else %}

            <form method="post" action="
            {% if action == 'update' %}
                {{ path('update-item') }}
            {% elseif action == 'delete' %}
               {{ path('delete-item') }}
            {% endif %}
        ">

                <div class="inlineLeft">
                    <label for="item">List of Items</label>
                    <select name="item" id="item">

                        {% for item in items %}
                            <option value="{{ item.id }}">{{ item.title }}</option>
                        {% endfor %}

                    </select>

                    <br><br>

                    <div class="inlineLeft"><button type="submit">{{ action|capitalize }}</button></div>
                </div>

            </form>

        {% endif %}

    </div>

{% endblock %}