{% extends 'baseLogged.html.twig' %}

{% block title %}
    {% if action == 'update' %}
        {{ 'Update Item'|trans }}
    {% elseif action == 'delete' %}
        {{ 'Delete Item'|trans }}
    {% endif %}
{% endblock %}

{% block body %}

    <div class="centerText">

        {% if action == 'update' %}
            <h1 class="centerText">{{ 'Choose a Item to'|trans }} {{ 'Update'|trans }}</h1>
        {% else %}
            <h1 class="centerText">{{ 'Choose a Item to'|trans }} {{ 'Delete'|trans }}</h1>
        {% endif %}
        <hr class="black">
        <br>

        {% if items|length == 0 %}

            <h3>{{ 'There are no items for'|trans }} {{ app.user }}, {{ 'add'|trans }} <a href="{{ path('new-item') }}">{{ 'some'|trans }}</a></h3>

        {% else %}

            <form method="post" action="
            {% if action == 'update' %}
                {{ path('update-item') }}
            {% elseif action == 'delete' %}
               {{ path('delete-item') }}
            {% endif %}
        ">

                <div class="inlineLeft">
                    <label for="item">{{ 'List of Items'|trans }}</label>
                    <select name="item" id="item">

                        {% for item in items %}
                            <option value="{{ item.id }}">{{ item.title }}</option>
                        {% endfor %}

                    </select>

                    <br><br>

                    {% if action == 'update' %}
                        <div class="inlineLeft"><button type="submit">{{ 'Update'|trans }}</button></div>
                    {% else %}
                        <div class="inlineLeft"><button type="submit">{{ 'Delete'|trans }}</button></div>
                    {% endif %}
                </div>

            </form>

        {% endif %}

    </div>

{% endblock %}