{% extends 'baseLogged.html.twig' %}

{% block title %}{{ 'Delete Item'|trans }}{% endblock %}

{% block body %}

    <div class="centerText">
        <h1>{{ 'Delete this Item'|trans }}</h1>
    </div>

    <hr class="black">
    <br>

    <table class="List">

        <tr>
            <th>{{ 'Title'|trans }}</th>
            <th>{{ 'Done'|trans }}</th>
            <th>{{ 'CreatedAt'|trans }}</th>
        </tr>

        <tr>
            <td>{{ item.title }}</td>
            {% if item.done == 1 %}
                <td>{{ 'Yes'|trans }}</td>
            {% else %}
                <td>No</td>
            {% endif %}
            <td> {{ item.createdAt | format_datetime('medium', 'short', locale='')}}</td>
        </tr>

    </table>

    <div class="centerText">

        <br><br>

        <form method="post" action="{{ path('delete-item-id', { 'id': item.id }) }}">
            <div class="inlineLeft"><button type="submit">{{ 'Delete' | trans }}</button></div>
        </form>

    </div>

{% endblock %}
