{% extends 'baseLogged.html.twig' %}

{% block title %}{{ 'List'|trans }}{% endblock %}

{% block body %}

    <div class="centerText">
    <h1>{{ 'Items list from'|trans }} {{ app.user }}</h1>
    </div>

    <hr class="black">
    <br>

    <table>

        <tr>
            <th>{{ 'Title'|trans }}</th>
            <th>{{ 'Done'|trans }}</th>
            <th>{{ 'CreatedAt'|trans }}</th>
        </tr>

        {% for item in items %}
            <tr>
                <td>{{ item.title }}</td>
                {% if item.done == 1 %}
                    <td>{{ 'Yes'|trans }}</td>
                {% else %}
                    <td>No</td>
                {% endif %}
                <td> {{ item.createdAt | date('Y-m-d h:i:s')}}</td>
            </tr>
        {% endfor %}

    </table>

{% endblock %}
