{% extends 'baseLogged.html.twig' %}

{% block title %}{{ 'New Item'|trans }}{% endblock %}

{% block body %}

    <div class="centerText">

        <h1 class="centerText">{{ 'Add a New Item'|trans }}</h1>
        <hr class="black">
        <br>

        <div class="inlineLeft">
            {{ form_start(formNewItem) }}

            {{ form_label(formNewItem.title) }}
            <hr>
            {{ form_widget(formNewItem.title) }}

            <br><br>

            <div class="inlineBlock">{{ form_row(formNewItem.done) }}</div>
            <div class="inlineRight">{{ form_row(formNewItem.insert) }}</div>

            {{ form_end(formNewItem) }}
        </div>

    </div>

{% endblock %}
