{% extends 'baseLogged.html.twig' %}

{% block title %}New Item{% endblock %}

{% block body %}

    <div class="centerText">

        <h1 class="centerText">Add a New Item</h1>
        <hr class="black">
        <br>

        <div class="formFields">
            {{ form_start(formNewItem) }}

            {{ form_label(formNewItem.title) }}
            {{ form_widget(formNewItem.title) }}

            <br><br>

            {{ form_label(formNewItem.done) }}
            {{ form_widget(formNewItem.done) }}

            <br><br>

            <div class="formSubmit">{{ form_row(formNewItem.insert) }}</div>
            {{ form_end(formNewItem) }}
        </div>

        {% for message in app.flashes('success') %}
            <div class="alert alert-success">
                <br>
                <h3>
                    {{ message }}
                </h3>
            </div>
        {% endfor %}

        {% for message in app.flashes('fail') %}
            <div class="alert alert-fail">
                <br>
                <h3>
                    {{ message }}
                </h3>
            </div>
        {% endfor %}

    </div>

{% endblock %}
