{% extends 'baseLogged.html.twig' %}

{% block title %}{{ 'Update Item'|trans }}{% endblock %}

{% block body %}

    <div class="centerText">
        <h1>{{ 'Update this Item'|trans }}</h1>
    </div>

    <hr class="black">
    <br>

    <table class="List">

        <tr>
            <th>{{ 'Title'|trans }}</th>
            <th>{{ 'Done'|trans }}</th>
            <th>{{ 'CreatedAt'|trans }}</th>
        </tr>

        <tr>
            <td>{{ item.title }}</td>
            {% if item.done == 1 %}
                <td>{{ 'Yes'|trans }}</td>
            {% else %}
                <td>No</td>
            {% endif %}
            <td> {{ item.createdAt | format_datetime('medium', 'short', locale='')}}</td>
        </tr>

    </table>

    <div class="centerText">

        <br><br>

        <div class="inlineLeft">
            {{ form_start(formUpdate) }}

            {{ form_label(formUpdate.title) }}
            <hr>
            {{ form_widget(formUpdate.title) }}

            <br><br>

            <div class="inlineBlock">{{ form_row(formUpdate.done) }}</div>
            <div class="inlineRight">{{ form_row(formUpdate.insert) }}</div>

            {{ form_end(formUpdate) }}
        </div>

    </div>

{% endblock %}
