{% extends 'base.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block body %}

    <div class="center">
        <h1 class="h3 mb-3 font-weight-normal">Items list from {{ app.user }}</h1>
    </div>

    <table class="center">

        <tr>
            <th>Id</th>
            <th>Title</th>
            <th>Done</th>
            <th>CreatedAt</th>
        </tr>

        {% for item in items %}
            <tr>
                <td>{{ item.id }}</td>
                <td>{{ item.title }}</td>
                {% if item.done == 1 %}
                    <td>Yes</td>
                {% else %}
                    <td>No</td>
                {% endif %}
                <td> {{ item.createdAt | date('Y-m-d h-i-s')}}</td>
            </tr>
        {% endfor %}

    </table>

    <p><input type="button" onclick="location.href='{{ path('new-item') }}'" value="New Item">
    <input type="button" onclick="location.href='{{ path('app_logout') }}'" value="LogOut"></p>

{% endblock %}
