{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
    <div class="centerText">
        <form method="post" autocomplete="off">

            <h1>LogIn</h1>
            <hr class="black">
            <br>

            <div class="inlineLeft">
                <label for="inputName">Name</label>
                <hr>
                <input type="text" value="{{ last_username }}" name="name" id="inputName" class="form-control" required autofocus>

                <br><br>

                <label for="inputPassword">Password</label>
                <hr>
                <input type="password" name="password" id="inputPassword" class="form-control" required>

                <br><br>

                <input type="hidden" name="_csrf_token"
                       value="{{ csrf_token('authenticate') }}"
                >

                {#
                    Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
                    See https://symfony.com/doc/current/security/remember_me.html

                    <div class="checkbox mb-3">
                        <label>
                            <input type="checkbox" name="_remember_me"> Remember me
                        </label>
                    </div>
                #}

                <div class="inlineRight"><button type="submit">LogIn </button></div>
            </div>

            {% if app.user %}
                <br>
                <h3>
                    You are logged in as {{ app.user.name }}, <a href="{{ path('app_logout') }}">Logout</a>
                </h3>
            {% endif %}

            {% if error %}
                <br>
                <h3>
                    {{ error.messageKey|trans(error.messageData, 'security') }}
                </h3>
            {% endif %}

        </form>
    </div>
{% endblock %}
