{% extends 'base.html.twig' %}

{% block title %}{{ 'LogIn'|trans }}{% endblock %}

{% block body %}
    <div class="centerText">
        <form method="post" autocomplete="off">

            <h1>{{ 'LogIn'|trans }}</h1>
            <hr class="black">
            <br>

            <div class="inlineLeft">
                <label for="inputName">{{ 'Name'|trans }}</label>
                <hr>
                <input type="text" value="{{ last_username }}" name="name" id="inputName" class="form-control" required autofocus>

                <br><br>

                <label for="inputPassword">{{ 'Password'|trans }}</label>
                <hr>
                <input type="password" name="password" id="inputPassword" class="form-control" required>

                <br><br>

                <input type="hidden" name="_csrf_token"
                       value="{{ csrf_token('authenticate') }}"
                >

                {#
                    Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
                    See https://symfony.com/doc/current/security/remember_me.html

                    <div class="checkbox mb-3">
                        <label>
                            <input type="checkbox" name="_remember_me"> Remember me
                        </label>
                    </div>
                #}

                <div class="inlineRight"><button type="submit" name="button" id="button">{{ 'LogIn'|trans }}</button></div>
            </div>

            {% if app.user %}
                <br>
                <h3>
                    {{ 'You are logged in as'|trans }} {{ app.user.name }}, <a href="{{ path('app_logout') }}">{{ 'LogOut'|trans }}</a>
                </h3>
            {% endif %}

            {% if error %}
                <br><br>
                <div class="alert alert-danger">{{ error.messageKey|trans }}</div>
            {% endif %}

        </form>
    </div>
{% endblock %}
